{% extends "calc/layout.html" %}

{% block body %}
    <div class="container-fluid p-5">
    <p class="h6 text-white pl-5">
        Hey fellow users, this is a one-stop website for mathematical calculations.<br><br>
        We have the following functions:<br>
            - Trigonometric functions<br>
            - Logrithm functions<br>
            - HCF and LCM<br>
            - Quadratic Equations<br>
            - Statistics<br>
            <br>
        Try out our calculator now.<br><br>
    </p>
    <img class="pl-5" src="static/calc/logo.jpg" width="300" height="300"/>
    </div>
{% endblock %}


